# A96447 MUGANGA CHARLES.<BR />Induvidual Assignment One 
##### You have been provided with a dataset called "Golf_Gaming.csv" which has information on whether golf will be played at the Namulonge Golf Course depending on various weather parameters.

In [74]:
# importing the libraries and modules.
#Basics
import pandas as pd
import numpy as np
import warnings

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plot

# Sklearn ML
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import joblib
warnings.filterwarnings('ignore')
#from sklearn.metrics import plot_confusion_matrix

* Reading the dataset

In [75]:
Data = pd.read_csv('D:/YR2 Sem2/AI/Class/Golf_Gaming.csv')

* Exploring the dataset.

In [76]:
Dataset = Data

In [77]:
Data.head()

  Day   Outlook Temperature Humidity    Wind Play Golf
0  D1     Sunny         Hot     High    Weak        No
1  D2     Sunny         Hot     High  Strong        No
2  D3  Overcast         Hot     High    Weak       Yes
3  D4      Rain        Mild     High    Weak       Yes
4  D5      Rain        Cool   Normal    Weak       Yes

An ordinal categorical feacture occurs in Humidity.(Hig,Normal,Low)
Outlier observed in play golf(?)

In [78]:
Data.dtypes

Day            object
Outlook        object
Temperature    object
Humidity       object
Wind           object
Play Golf      object
dtype: object

In [79]:
Data.describe()

       Day Outlook Temperature Humidity  Wind Play Golf
count   17      17          17       17    17        17
unique  17       3           3        3     2         3
top     D1   Sunny         Hot     High  Weak       Yes
freq     1       6           6        7    10        10

In [80]:
# Attaching labels to the data
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Data['Outlook'] = le.fit_transform(Data['Outlook'])
Data['Temperature'] = le.fit_transform(Data['Temperature'])
Data['Humidity'] = le.fit_transform(Data['Humidity'])
Data['Wind'] = le.fit_transform(Data['Wind'])
#Data['Play Golf'] = le.fit_transform(Data['Play Golf'])
Data

    Day  Outlook  Temperature  Humidity  Wind Play Golf
0    D1        2            1         0     1        No
1    D2        2            1         0     0        No
2    D3        0            1         0     1       Yes
3    D4        1            2         0     1       Yes
4    D5        1            0         2     1       Yes
5    D6        1            0         2     0        No
6    D7        0            0         2     0       Yes
7    D8        2            2         0     1        No
8    D9        2            0         2     1       Yes
9   D10        1            2         2     1       Yes
10  D11        2            2         2     0       Yes
11  D12        0            2         0     0       Yes
12  D13        0            1         2     1       Yes
13  D14        1            2         0     0        No
14  D15        2            1         1     1        No
15  D16        1            0         1     0       Yes
16  D17        0            1         1     1         ?

In [81]:
Data.dtypes

Day            object
Outlook         int32
Temperature     int32
Humidity        int32
Wind            int32
Play Golf      object
dtype: object

Droping the column 'Play Golf because it is what we are predicting'

In [82]:
Out_column = Data.drop(columns=['Day','Play Golf'])
Out_column

    Outlook  Temperature  Humidity  Wind
0         2            1         0     1
1         2            1         0     0
2         0            1         0     1
3         1            2         0     1
4         1            0         2     1
5         1            0         2     0
6         0            0         2     0
7         2            2         0     1
8         2            0         2     1
9         1            2         2     1
10        2            2         2     0
11        0            2         0     0
12        0            1         2     1
13        1            2         0     0
14        2            1         1     1
15        1            0         1     0
16        0            1         1     1

### Data cleaning

* Removing missing values if any

In [83]:
# removing missing values
Data = Data.dropna()
Data = Data.drop(16)

* Removing outliers

In [84]:
# Remoiving the outliers
Data = Data[Data['Outlook'] < 3]
Data = Data[Data['Temperature'] < 3]
Data = Data[Data['Humidity'] < 3]
Data = Data[Data['Wind'] < 3]

Data

    Day  Outlook  Temperature  Humidity  Wind Play Golf
0    D1        2            1         0     1        No
1    D2        2            1         0     0        No
2    D3        0            1         0     1       Yes
3    D4        1            2         0     1       Yes
4    D5        1            0         2     1       Yes
5    D6        1            0         2     0        No
6    D7        0            0         2     0       Yes
7    D8        2            2         0     1        No
8    D9        2            0         2     1       Yes
9   D10        1            2         2     1       Yes
10  D11        2            2         2     0       Yes
11  D12        0            2         0     0       Yes
12  D13        0            1         2     1       Yes
13  D14        1            2         0     0        No
14  D15        2            1         1     1        No
15  D16        1            0         1     0       Yes

* Separating the x input and y_target variables.<br />
Due to a number of x inputs in our dataset, various testing points are made that is to say, for my approach, I considered  x_data1,x_data2,x,data3 and x_data4.

In [85]:
#Separating x input and y_target varaibles
# breaking the inputs into various testing points
y_target = Data['Play Golf']
x_data1 = Data[['Outlook', 'Temperature']]
x_data2 = Data[['Humidity','Wind']]
x_data3 = Data[['Outlook','Humidity']]
x_data4 = Data[['Temperature','Wind']]

In [86]:
y_target

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
14     No
15    Yes
Name: Play Golf, dtype: object

## Building the Model <br />
### i) Using Logistic Regression.

In [87]:
#Splitting the data into train and test
x_train1, x_test1, y_train1, y_test1 = train_test_split(x_data1, y_target, test_size=0.2, random_state=50)
print("X_train",x_train1.shape)
print("X_test",x_test1.shape)
print("Y_train",y_train1.shape)
print("Y_test",y_test1.shape)

X_train (12, 2)
X_test (4, 2)
Y_train (12,)
Y_test (4,)

* Traing the model using the first set of input variables.

In [127]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000).fit(x_train1, y_train1)
#print the score
filename = 'set1.joblib'
joblib.dump(classifier, filename)
classifier.score(x_test1,y_test1)

0.5

In [89]:
# load the model from disk
loaded_model = joblib.load(filename)
result = loaded_model.score(x_test1, y_test1)
print(result)

0.5

In [90]:
#making predictions
y_pred = classifier.predict([[0,1]])
y_pred

array(['Yes'], dtype=object)

In [91]:
x_train2, x_test2, y_train2,y_test2 = train_test_split(x_data2, y_target, test_size=0.2, random_state=50)
print("X_train",x_train2.shape)
print("X_test",x_test2.shape)
print("Y_train",y_train2.shape)
print("Y_test",y_test2.shape)

X_train (12, 2)
X_test (4, 2)
Y_train (12,)
Y_test (4,)

In [128]:
from sklearn.linear_model import LogisticRegression
classifier2 = LogisticRegression(max_iter=1000).fit(x_train2, y_train2)
#print the score
filename1 = 'set2.joblib'
joblib.dump(classifier2, filename1)
classifier2.score(x_test2,y_test2)

0.75

In [93]:
# load the model from disk
loaded_model = joblib.load(filename1)
result = loaded_model.score(x_test2, y_test2)
print(result)

0.75

In [94]:

y_pred = classifier2.predict([[1,1]])
y_pred

array(['Yes'], dtype=object)

In [95]:
x_train3, x_test3, y_train3, y_test3 = train_test_split(x_data3, y_target, test_size=0.2, random_state=50)
print("X_train",x_train3.shape)
print("X_test",x_test3.shape)
print("Y_train",y_train3.shape)
print("Y_test",y_test3.shape)

X_train (12, 2)
X_test (4, 2)
Y_train (12,)
Y_test (4,)

In [129]:
from sklearn.linear_model import LogisticRegression
classifier3 = LogisticRegression(max_iter=1000).fit(x_train3, y_train3)
filename3 = 'set3.joblib'
joblib.dump(classifier3, filename3)
#print the score
classifier3.score(x_test3,y_test3)

0.5

In [97]:
# load the model from disk
loaded_model = joblib.load(filename3)
result = loaded_model.score(x_test3, y_test3)
print(result)

0.5

In [98]:
#making predictions
y_pred = classifier3.predict([[0,1]])
y_pred

array(['Yes'], dtype=object)

In [99]:
x_train4, x_test4, y_train4, y_test4 = train_test_split(x_data4, y_target, test_size=0.2, random_state=50)
print("X_train",x_train4.shape)
print("X_test",x_test4.shape)
print("Y_train",y_train4.shape)
print("Y_test",y_test4.shape)

X_train (12, 2)
X_test (4, 2)
Y_train (12,)
Y_test (4,)

In [130]:
from sklearn.linear_model import LogisticRegression
classifier4 = LogisticRegression(max_iter=1000).fit(x_train4, y_train4)
filename4 = 'set4.joblib'
joblib.dump(classifier4, filename4)
#print the score
classifier4.score(x_test4,y_test4)

0.5

In [101]:
# load the model from disk
loaded_model = joblib.load(filename4)
result = loaded_model.score(x_test4, y_test4)

In [132]:
y_pred = classifier4.predict([[1,1]])
y_pred

array(['Yes'], dtype=object)

* Using the whole dataset

In [133]:
x_data = Data[['Outlook', 'Temperature','Humidity','Wind']]
x_train, x_test, y_train, y_test = train_test_split(x_data, y_target, test_size=0.2, random_state=50)

In [134]:
#Declaring a logistic regression model  
from sklearn.linear_model import LogisticRegression
classifier5 = LogisticRegression(max_iter=1000).fit(x_train, y_train)
filename5 = 'set5.joblib'
joblib.dump(classifier5, filename5)

#print the score
#classifier.score(x_test,y_test)
y_pred = classifier5.predict([[0,1,1,1]])
y_pred

array(['Yes'], dtype=object)

In [ ]:
from sklearn import tree
tree.export_graphviz(classifier5, out_file = 'Social Media Predictor.dot',
                     feature_names = ['age','gender'],
                     class_names = sorted(y.unique()),
                     label = 'all',
                     rounded = True,
                     filled = True)

In [135]:
# load the model from disk
loaded_model = joblib.load(filename5)
result = loaded_model.score(x_test, y_test)

From the above model we can conclude that the predicted value is<br />
### Yes.

* Adding the predicted value back to the dataset.

In [136]:
# updataing the Play Golf column row 17  with the predicted values
Dataset.loc[16,'Play Golf'] = y_pred
Dataset

    Day  Outlook  Temperature  Humidity  Wind Play Golf
0    D1        2            1         0     1        No
1    D2        2            1         0     0        No
2    D3        0            1         0     1       Yes
3    D4        1            2         0     1       Yes
4    D5        1            0         2     1       Yes
5    D6        1            0         2     0        No
6    D7        0            0         2     0       Yes
7    D8        2            2         0     1        No
8    D9        2            0         2     1       Yes
9   D10        1            2         2     1       Yes
10  D11        2            2         2     0       Yes
11  D12        0            2         0     0       Yes
12  D13        0            1         2     1       Yes
13  D14        1            2         0     0        No
14  D15        2            1         1     1        No
15  D16        1            0         1     0       Yes
16  D17        0            1         1     1     [Yes]

* Considering the performance/score of some given variables, their is need to check and see how the different variables correlate with one another.

In [107]:
Data.select_dtypes(exclude='object').corr().style.background_gradient(cmap='coolwarm')

We can also use some other techniques to train our models and get the predictions<br >These include;

### ii) Using discision tree approach

In [108]:
# using the discission tree classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [116]:
# splitting the data into train and test
x_train, x_test, y_train, y_test = train_test_split(x_data1, y_target, test_size=0.2, random_state=50)
print("X_train",x_train.shape)
print("X_test",x_test.shape)
print("Y_train",y_train.shape)
print("Y_test",y_test.shape)

X_train (12, 2)
X_test (4, 2)
Y_train (12,)
Y_test (4,)

In [121]:
# Declaring the decision tree classifier
model = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=50)
model.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=50)

In [122]:
# making predictions
y_pred = model.predict([[0,1]])
y_pred

array(['Yes'], dtype=object)

In [123]:
joblib.dump(model, 'Golf predictor.joblib')

['Golf predictor.joblib']

In [126]:
from sklearn import tree
tree.export_graphviz(model, out_file = 'Golf predictor.dot',
                     feature_names = ['Outlook','Temperature'],
                     class_names = sorted(y_target.unique()),
                     label = 'all',
                     rounded = True,
                     filled = True)

### iii) Using PipeLine approach

In [112]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn import datasets

In [113]:
pipeline = make_pipeline(StandardScaler(),RandomForestClassifier(n_estimators=20,max_features=5,max_depth=2,random_state=1))

In [114]:
pipeline.fit(x_train1,y_train1)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('randomforestclassifier',
                 RandomForestClassifier(max_depth=2, max_features=5,
                                        n_estimators=20, random_state=1))])

In [115]:
pipeline.predict([[0,1]])

array(['Yes'], dtype=object)